@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Kadwa", serif;
}

.card-post {
    height: auto;
    width: 65vh;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    background-color: blueviolet;
}

#img-card{
    margin: auto;
    display: flex;
    height: 350px;
    width: 590px;
    border-radius: 10px;
}

/* Define a cor do texto dos subtítulos */
.card-title-h2, .card-text {
    color: white;
}

/* Define a alinhação do texto */
.card-text{
    text-align: justify;
}



/* Container Card-create */
.card{
    max-width: 65vh; 
    margin: 1.25rem auto; 
    background-color: #dfdfdf;
    border-color: #dfdfdf;
}


#img-profile{
    height: auto;
    width: 2.5rem;  
    margin-right: 1.5%;
}

#btn-create{
    border-color: #3F45B6;
    background-color: #3F45B6;
    color: white;
}

.bicard{
    color: #3F45B6;
}