@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Kadwa", serif;
}
/* Altera a cor do cabeçário*/
.bg-primary, .btn-primary, .container-fluid-secondary {
    background-color: #3F45B6 !important; 
}

.container-fluid-secondary {
    height: 3.5rem;
}

.container-fluid, #footer {
    display: flex;
    height: 8.43rem;
    margin: 0;
}

.btn-primary {
    border-color: white;
    height: 3.1rem;
    border-radius: 1.5rem;
    border-width: 0.20rem;
    font-size: 2.5vh;
    padding-bottom: 40px;
}

#img-btn, #nav-itens {
    display: inline-block;
    text-decoration: none; /* Remove o sublinhado padrão */
    transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
}

#nav-itens {
    color: white;
    font-size: 2vh;
    font-weight: 600;
}
/* Realiza o efeito de crescer os itens */
#nav-itens:hover, #img-btn:hover {
    transform: scale(1.1); /* Aumenta o tamanho do texto em 10% no hover */
    color: darkblue; /* Altera a cor do link no hover (opcional) */
    text-decoration: none; /* Remove o sublinhado no hover */
}
/* Define a altura do rodapé de acordo com o tamanho da tela */
#footer {
    height: 20vh;
}
/* Centraliza os itens no centro da coluna */
.card-title, .card-subtitle {
    text-align: center;
}
/* Margem de baixo do h5 */
.card-title {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-weight: 600;
}
/* Estilização do Container Principal */
.bg-light {
    background-color: #d9d9d9 50% !important;
}

/* Responsividade */
@media (min-width: 992px) {

}